* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    height: 500px;
    margin: 50px auto 0px;
    border: 1px solid #000;
}

.box {
    width: 200px;
    height: 200px;
    margin: 50px auto 0px;
    border: 1px solid #000;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg / 0.25turn);
    transform: rotateX('9deg');
    transform: rotateY('9deg');
    transform: rotateZ('9deg'); 
    transform: scale(1.5);
    transform: scaleX(1.5);
    transform: scaleY(1.5);
    transform: scale3d();
} 